<% provide :title, 'Strona główna' %>

  <div class="jumbotron">
    <h1 class="display-4">Ogarnij swoje płatności !</h1>
    <p class="lead">Teraz twoje płatności staną się prostrze. Wszystko w jednym miejscu, pod Twoją kontrolą. Zoacz jakie to proste.</p>
    <hr class="my-4">
    <p>Nie czekaj i zarejstruj się już dziś.</p>

    <div class="row d-flex justify-content-center">
      <a class="btn btn-primary btn-lg login-button" href="#" role="button">Zaloguj się</a>
      <a class="btn btn-primary btn-lg" href="#" role="button">Rejstracja</a>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <i class="far fa-clock"></i>
      <h1>ahdas</h1>
      <p>asdasdasd</p>
    </div>
    <div class="col">
      <%= fa_icon 'camera', class:'fa-3x' %>
      <h1>ahdas</h1>
      <p>asdasdasd</p>
    </div>
    <div class="col">
      <%= fa_icon 'camera', class:'fa-3x' %>
      <h1>ahdas</h1>
      <p>asdasdasd</p>
    </div>
  </div>