<% provide :title, 'Strona główna' %>
<div class="jumbotron">
  <h1 class="display-4">Twoje opłaty w jendym miejscu!</h1>
  <p class="lead">Zarejstuj się i przekonaj, że od teraz Twoje płatności staną się prostsze. Zoszczędź czas i zyskaj kontrole !</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg home-buttons" href="<%= login_path %>" role="button">Logowanie</a>
    <a class="btn btn-primary btn-lg home-buttons" href="<%= registration_path %>" role="button">Rejstracja</a>
  </p>
</div>