.form-icon-mail{
  position: absolute;
  margin-left: -10.2rem;
  margin-top: 2.5rem;
}

.form-icon-pass{
  position: absolute;
  margin-left: -9.1rem;
  margin-top: 2.5rem;
}

.form-icon-pass-conf{
  position: absolute;
  margin-left: -9.5rem;
  margin-top: 2.5rem;
}